@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    font-family: "montserrat";
    letter-spacing: 1px;
    color: white;
}

img {
    position: absolute;
    width: 100vw;
    z-index: -1;
    position: fixed;
}

video {
    object-fit: cover;
    margin-top: -30px;
    position: absolute;
    width: 110%;
    z-index: -1;
    position: fixed;
}

h1 {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px 100px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid #ff8e17;
    box-shadow: 0px 0px 30px rgba(255, 94, 0, 0.5);
}

p {
    position: absolute;
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 50px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    max-width: 700px;
    border: 1px solid #ff8e17;
    box-shadow: 0px 0px 30px #ff8f1750;
}

span {
    font-size: 25px;
    font-weight: 900;
    color: #ff8e17;
}

button {
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    color: white;
    font-family: "montserrat";
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.20s;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid #25d6ff;
    box-shadow: 0px 0px 30px #25d7ff50;
    padding: 20px 30px;
    transition: 0.20s;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.ex {
    color: #25d6ff;
    border-radius: 5px;
    font-family: "montserrat light";
    font-size: 18px;
    padding: 10px;
    line-height: 37.5px;
    cursor: default;
    transition: 1s;
}

::selection {
    color: black;
    background-color: #ff8e17;
}